@import "tailwindcss";
@import "react-datepicker/dist/react-datepicker.css";
@import "./base.css";
@import "./buttons.css";
@import "./tasks.css";
@import "./forms.css";

@theme inline {
  --color-background: var(--color-bg);
  --color-foreground: var(--color-text);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
